@mixin border($border-type, $background) {
	background: $background;
	border-color: $background;
	@if $border-type == full {
		border: 0.5rem solid;
	} @else {
		border-#{$border-type}: 0.5rem solid;
	}

	border-image-source: url('http://192.168.8.173:8080/ParacloxAssets/UI/borders/default/dark.png');
	border-image-slice: 10;
	background-clip: padding-box;
}
