.background {
	height: 75%;
	position: relative;
	background-image: url('http://192.168.8.173:8080/ParacloxAssets/battle-screen/backgrounds/postapo.png');
	background-color: #212121;
	background-repeat: repeat no-repeat;
	background-position: center 125%;

	.main {
		position: absolute;
		bottom: 2rem;
	}
}
